# 1.FINDING HEADER TAGS FOR WIKIPEDIA TAGS

In [20]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [29]:
import  requests
from  bs4 import BeautifulSoup

url = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(url.text, 'html.parser')
story = soup.find_all(['h1', 'h2','h3'])
for i in story:
    i=i.get_text()
    print(i)

Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Views


Search


Navigation


Contribute


Tools


Print/export


In other projects


Languages

In [ ]:
# I found this headings in wikipedia instead of headers- so the answer may be partially correct or wrong

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data

In [36]:
imdb_top_link = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"

imdb_top_indian_link = "https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=YGMQ7QBSZRY8RE39C7KD&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_sm"

def find_top_100(link):

    imdb_site_data = requests.get(link)
    soup_imdb = BeautifulSoup(imdb_site_data.content , "html.parser")
    scrapedtitles = soup_imdb.find_all('td' , class_ = "titleColumn" )
    titles = []
    for title in scrapedtitles:
        title = title.get_text().strip()
        titles.append(title)
    titles
    scrapedratings = soup_imdb.find_all('td' , class_ = "ratingColumn imdbRating" )
    ratings = []
    for rating in scrapedratings:
        rating = rating.get_text().strip()
        ratings.append(rating)
    years = []
    for title in titles:
        year = title[-5:-1]
        years.append(year)
    data = pd.DataFrame()

    data['Title'] = titles
    data['Year'] = years
    data['Rating'] = ratings

    top_imdb_100_movies = data[1:101]
    return top_imdb_100_movies

In [39]:
find_top_100(imdb_top_link)

                                                 Title  Year Rating
1                      2.\n      The Godfather\n(1972)  1972    9.2
2                    3.\n      The Dark Knight\n(2008)  2008    9.0
3              4.\n      The Godfather Part II\n(1974)  1974    9.0
4                       5.\n      12 Angry Men\n(1957)  1957    8.9
5                   6.\n      Schindler's List\n(1993)  1993    8.9
..                                                 ...   ...    ...
96   97.\n      M - Eine Stadt sucht einen Mörder\n...  1931    8.3
97               98.\n      North by Northwest\n(1959)  1959    8.3
98                          99.\n      Vertigo\n(1958)  1958    8.2
99                    100.\n      Idi i smotri\n(1985)  1985    8.2
100  101.\n      Le fabuleux destin d'Amélie Poulai...  2001    8.2

[100 rows x 3 columns]

# 3.  Write a python program to display IMDB’s Top rated 100 Indian movies’ data ?

In [40]:
imdb_top_link = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"

imdb_top_indian_link = "https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=YGMQ7QBSZRY8RE39C7KD&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_sm"

In [41]:
find_top_100(imdb_top_indian_link)

                                              Title  Year Rating
1                      2.\n      Anbe Sivam\n(2003)  2003    8.4
2                         3.\n      Golmaal\n(1979)  1979    8.4
3                         4.\n      Nayakan\n(1987)  1987    8.4
4                        5.\n      Jai Bhim\n(2021)  2021    8.4
5               6.\n      Pariyerum Perumal\n(2018)  2018    8.4
..                                              ...   ...    ...
96                        97.\n      Baasha\n(1995)  1995    8.0
97   98.\n      Baahubali 2: The Conclusion\n(2017)  2017    8.0
98                        99.\n      Masaan\n(2015)  2015    8.0
99                      100.\n      Kahaani\n(2012)  2012    8.0
100              101.\n      Dil Chahta Hai\n(2001)  2001    8.0

[100 rows x 3 columns]

# 4.Write s python program to display list of respected former presidents of India(i.e. Name , Term of office

In [42]:
indian_presidents_link = "https://presidentofindia.nic.in/former-presidents.htm"

def india_presidents(link):
    site_content = requests.get(link)
    india_presidents_soup = BeautifulSoup(site_content.content , "html.parser")
    scraped_names = india_presidents_soup.find_all("h3")
    names = []
    for name in scraped_names:
        name = name.get_text()
        names.append(name)
    scraped_p = india_presidents_soup.find_all("p" )
    spans = []
    for p in scraped_p:
        if p.find('span'):
            spans.append(p.text)
    terms = []
    for span in spans[:-1]:
        span = span[16:]
        terms.append(span)
    presidents_of_india = pd.DataFrame()
    presidents_of_india["Name"] = names
    presidents_of_india['Term'] = terms
    
    return presidents_of_india

In [44]:
india_presidents(indian_presidents_link)

,Name,Term
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

# 7. Write a python program to scrape mentioned news details : i) Headline ii) Time iii) News Link

In [45]:
cnbc_link = "https://www.cnbc.com/world/?region=world"

def get_headlines(link):    
    cnbc_site_data = requests.get(link)
    cnbc_soup = BeautifulSoup(cnbc_site_data.content , "html.parser")
    scraped_headlines = cnbc_soup.find_all("div" , class_ = "RiverPlusCard-container")
    headlines = []
    for headline in scraped_headlines:
        headline = headline.get_text()
        headlines.append(headline)
    links = []
    for headline in scraped_headlines:
        headline = headline.find('a').get('href')
        links.append(headline)
    scraped_times = cnbc_soup.find_all("span" , class_ = "RiverByline-datePublished")
    times = []
    scraped_headline_rows = cnbc_soup.find_all("div" , class_ = "RiverPlusCard-container")
    for row in scraped_headline_rows:
        row = row.find("span" , class_ = "RiverByline-datePublished")
        if row == None:
            times.append("Not available")
        else: times.append(row.get_text())
    headline_data = pd.DataFrame()
    headline_data['Headline'] = headlines
    headline_data['Time posted'] = times
    headline_data['Link'] = links
    
    return(headline_data)

In [46]:
get_headlines(cnbc_link)

,Headline,Time posted,Link
0,"Dow rebounds to flat, clawing back 200-point l...",22 min ago,https://www.cnbc.com/2022/08/04/stock-market-n...
1,Amazon to acquire maker of Roomba vacuums for ...,13 min ago,https://www.cnbc.com/2022/08/05/amazon-to-acqu...
2,Morgan Stanley says tech hasn't hit bottom yet...,Not available,/pro/
3,Goldman Sachs doesn’t see nuclear as a transfo...,3 hours ago,https://www.cnbc.com/2022/08/05/goldman-doesnt...
4,Turkey's Erdogan meets Putin in Sochi; three s...,13 min ago,https://www.cnbc.com/2022/08/05/russia-ukraine...
5,SolarEdge is willing to sacrifice margins toda...,20 min ago,https://www.cnbc.com/2022/08/05/how-solaredge-...
6,These companies are still flexing pricing powe...,an hour ago,/pro/
7,"China halts military, climate ties with U.S. a...",Not available,https://www.cnbc.com/2022/08/05/china-halts-cl...
8,Santoli: Wall Street holds its breath – and th...,Not available,/pro/
9,Monkeypox: What to know about the new public h...,Not available,https://www.cnbc.com/2022/07/26/monkeypox-expl...
10,"China, Cairo, Italy: The top ‘travel-inspired’...",Not available,https://www.cnbc.com/2022/08/04/what-are-popul...
11,Trump and ex-White House officials likely to b...,Not available,https://www.cnbc.com/2022/08/04/trump-and-whit...
12,Taiwan's trade with China is far bigger than i...,Not available,https://www.cnbc.com/2022/08/05/taiwans-trade-...
13,Hacked crypto startup Nomad offers a 10% bount...,5 hours ago,https://www.cnbc.com/2022/08/05/crypto-startup...
14,"Energy prices have dipped, but oil stocks are ...",Not available,https://www.cnbc.com/2022/08/05/energy-prices-...
15,Malaysia's sovereign wealth fund on why it did...,Not available,https://www.cnbc.com/2022/08/04/malaysia-sover...
16,"Elon Musk predicts mild 18-month recession, te...",3 hours ago,https://www.cnbc.com/2022/08/04/elon-musk-pred...
17,International airlines launch battle plans to ...,Not available,https://www.cnbc.com/2022/08/05/international-...

# 8. Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
i) Paper Title ii) Authors iii) Published Date  iv) Paper URL

In [47]:
AI_link = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

def AI_top_articles(link):
    AI_site_data = requests.get(link)
    AI_soup = BeautifulSoup(AI_site_data.content , "html.parser")
    scraped_titles = AI_soup.find_all("h2" , class_ = "sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR")
    titles = []
    for title in scraped_titles:
        title = title.get_text()
        titles.append(title)
    scraped_authors = AI_soup.find_all("span" , class_ = "sc-1w3fpd7-0 pgLAT")
    authors = []
    for author in scraped_authors:
        author = author.get_text()
        authors.append(author)
    scraped_dates = AI_soup.find_all("span" , class_ = "sc-1thf9ly-2 bKddwo")
    dates = []
    for date in scraped_dates:
        date = date.get_text()
        dates.append(date)
    scraped_links = AI_soup.find_all("li" , class_ = "sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp")
    links = []
    for link in scraped_links:
        link = link.find('a').get("href")
        links.append(link)
    AI_top_articles = pd.DataFrame()
    AI_top_articles["Paper Title"] = titles
    AI_top_articles['Authors'] = authors
    AI_top_articles["Publised Date"] = dates
    AI_top_articles["Paper URL"] = links
    
    return AI_top_articles

In [48]:
AI_top_articles(AI_link)

,Paper Title,Authors,Publised Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

#  9. Write a python program to scrape mentioned details from dineout.co.in : i) Restaurant name ii) Cuisine iii) Location  iv) Ratingsv) Image URL

In [49]:
dineout_link = "https://www.dineout.co.in/hyderabad-restaurants/welcome-back"

def dineout_restaurants(link):
    dine_site_data = requests.get(link)
    dine_soup = BeautifulSoup(dine_site_data.content , "html.parser")
    scraped_names = dine_soup.find_all('div' , class_ = "restnt-info cursor")
    names = []
    for name in scraped_names:
        name = name.find('a').get_text()
        names.append(name)
    scraped_cuisines = dine_soup.find_all("span" , class_ = "double-line-ellipsis")
    cuisines = []
    for cuisine in scraped_cuisines:
        cuisine = cuisine.find_all('a')
        text = ""
        for a in cuisine:
            text = text + ',' + ' ' +  a.get_text()
        cuisines.append(text[2:])
    scraped_locations = dine_soup.find_all("div" , class_ = "restnt-loc ellipsis")
    locations = []
    for location in scraped_locations:
        location = location.find_all('a')
        text = ""
        for a in location:
            text = text + ',' + ' ' +  a.get_text().strip(',')
        locations.append(text[2:])
    scraped_ratings = dine_soup.find_all("div" , class_ = "restnt-rating rating-4")
    ratings = []
    for rating in scraped_ratings:
        rating = rating.get_text()
        ratings.append(rating)
    scraped_images = dine_soup.find_all("img" , class_ = "no-img")
    images = []
    for image in scraped_images:
        image = image.get("data-src")
        images.append(image)
    images
    dineout_data = pd.DataFrame()
    dineout_data["Restaurant Name"] = names
    dineout_data["Cuisine"] = cuisines
    dineout_data["Location"] = locations
    dineout_data["Ratings"] = ratings
    dineout_data["Image URL"] = images

    return dineout_data

In [50]:
dineout_restaurants(dineout_link)

,Restaurant Name,Cuisine,Location,Ratings,Image URL
0,Ohri's Jiva,"North Indian, Chinese, Rajasthani, South Indian","White House, Begumpet, Secunderabad",4,https://im1.dineout.co.in/images/uploads/resta...
1,Krishnapatnam,"Andhra, South Indian, Mughlai","Shreshta Aura, Jubilee Hills, Central West Hyd...",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Headquarters,"Chinese, Continental, North Indian","Somajiguda, Central East Hyderabad",4.1,https://im1.dineout.co.in/images/uploads/resta...
3,ABs - Absolute Barbecues,North Indian,"Banjara Hills, Central East Hyderabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Amogham - The Lake View Restaurant,"Chinese, North Indian, Continental, Mughlai","Khairatabad, Central Hyderabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
5,10 Downing Street,"Finger Food, Chinese, Continental, North Indian","Lifestyle Building, Begumpet, Secunderabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
6,Exotica,"North Indian, Chinese, Asian","12th Square Building, Banjara Hills, Central E...",4.4,https://im1.dineout.co.in/images/uploads/resta...
7,Barbeque Nation,"North Indian, Chinese","ANR Center, Banjara Hills, Central East Hyderabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
8,ABs - Absolute Barbecues,North Indian,"SD Road, Secunderabad",4.1,https://im1.dineout.co.in/images/uploads/resta...
9,By The Bay - Bar Exchange,"North Indian, Continental, Chinese","Khairatabad, Central Hyderabad",4.1,https://im1.dineout.co.in/images/uploads/resta...
10,A'La Liberty,"North Indian, Chinese, Mexican","Leela Gopal Towers, Banjara Hills, Central Eas...",4,https://im1.dineout.co.in/images/uploads/resta...
11,Bikanervala,"North Indian, Street Food, Fast Food","Banjara Hills, Central East Hyderabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Parampara - Flavours of india,"Chinese, North Indian","ANR Center, Banjara Hills, Central East Hyderabad",4,https://im1.dineout.co.in/images/uploads/resta...
13,Verandah,"Chinese, North Indian, Continental, Italian","The Park, Somajiguda, Central East Hyderabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
14,Hard Rock Cafe,"Continental, American, Fast Food","GVK One Mall, Banjara Hills, Central East Hyde...",4.3,https://im1.dineout.co.in/images/uploads/resta...
15,Pizza Hut,"Pizza, Fast Food","The Grand Building, Somajiguda, Central East H...",4.4,https://im1.dineout.co.in/images/uploads/resta...
16,Seven Spices,"Andhra, Biryani","Somajiguda, Central East Hyderabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
17,Krishnapatnam,"South Indian, Andhra, Mughlai","Forum Sujana Mall, Kukatpally, West Hyderabad",3.7,https://im1.dineout.co.in/images/uploads/resta...
18,Eagles Pizza,"Pizza, Fast Food","Ohud Building, Somajiguda, Central East Hyderabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
19,Hashi Izakaya - Asian Bar & Kitchen,"Chinese, Thai, Japanese","Country Club Complex, Begumpet, Secunderabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
20,Cream Stone,"Desserts, Beverages","The Platinum Hotel, Himayath Nagar, Central Hy...",4.3,https://im1.dineout.co.in/images/uploads/resta...

# 10. Write a python program to scrape the details of top publications from Google Scholar? i) Rank ii) Publicationiii) h5-index iv) h5-median

In [51]:
google_link = "https://scholar.google.com/citations?view_op=top_venues&hl=en"

def google_publications(link):
    google_site_data = requests.get(link)
    google_soup = BeautifulSoup(google_site_data.content , "html.parser")

    scraped_ranks = google_soup.find_all("td" , class_ = "gsc_mvt_p")
    scraped_publication = google_soup.find_all("td" , class_ = "gsc_mvt_t")
    scraped_index = google_soup.find_all("a" , class_ = "gs_ibl gsc_mp_anchor")
    scraped_median = google_soup.find_all("span" , class_ = "gs_ibl gsc_mp_anchor")
    publications = []
    ranks = []
    indexs = []
    medians = []
    for rank in scraped_ranks:
        rank = rank.get_text()
        ranks.append(rank)
    for publication in scraped_publication:
        publication = publication.get_text()
        publications.append(publication)
    for index in scraped_index:
        index = index.get_text()
        indexs.append(index)
    for median in scraped_median:
        median = median.get_text()
        medians.append(median)
    google_data = pd.DataFrame()
    google_data["Rank"] = ranks
    google_data["Publication"] = publications
    google_data["H5-index"] = indexs
    google_data["H5-median"] = medians

    return google_data

In [54]:
google_publications(google_link)

    Rank                                        Publication H5-index H5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]

# 5. Write a python program to scrape cricket rankings from icc-cricket.com.- To scrape the following

In [ ]:
 #5).a)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [61]:
team_men_link = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
batting_men_link = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
bowling_men_link = "https://www.icc-cricket.com/rankings/mens/player-rankings"



def top_10_odi_teams_men(link) : 
    site_data_team_men = requests.get(link)

    soup_team_men = BeautifulSoup(site_data_team_men.content, "html.parser")

    scraped_teams_men = soup_team_men.find_all("span" , class_ = "u-hide-phablet")

    teams_men = []
    for team in scraped_teams_men:
        team = team.get_text()
        teams_men.append(team)

    scraped_team_men_matches = soup_team_men.find_all("td" , class_ = "table-body__cell u-center-text" )

    matches_men =  []
    matches_men.append('15')

    for match in scraped_team_men_matches:
        if scraped_team_men_matches.index(match) % 2  == 0 :
            match = match.get_text()
            matches_men.append(match)

    points_men =  []
    points_men.append('1913')

    for match in scraped_team_men_matches:
        if scraped_team_men_matches.index(match) % 2  == 1 :
            match = match.get_text()
            points_men.append(match)

    ratings_men =  []
    ratings_men.append('128')

    scraped_team_men_ratings = soup_team_men.find_all("td" , class_ = "table-body__cell u-text-right rating" )

    for rating in scraped_team_men_ratings:
        rating = rating.get_text()
        ratings_men.append(rating)

    data = pd.DataFrame()

    data["Team"] = teams_men
    data["Matches"] = matches_men
    data['Points'] = points_men
    data["Rating"] = ratings_men

    top_10_odi_teams_men = data[0:11]

    return (top_10_odi_teams_men)

In [62]:
top_10_odi_teams_men(team_men_link)

            Team Matches Points Rating
0    New Zealand      15   1913    128
1        England      27  3,226    119
2          India      28  3,085    110
3       Pakistan      19  2,005    106
4      Australia      23  2,325    101
5   South Africa      21  2,111    101
6     Bangladesh      27  2,639     98
7      Sri Lanka      29  2,658     92
8    West Indies      38  2,621     69
9    Afghanistan      18  1,238     69
10       Ireland      23  1,214     53

In [ ]:
  # 5. b) Top 10 ODI Batsmen along with the records of their team and rating.

In [82]:
def top_odi_batsmen(link):

    site_data_5b = requests.get(link)

    soup_5b = BeautifulSoup(site_data_5b.content ,"html.parser" )

    players = []
    teams = []
    ratings = []

    top_player = soup_5b.find("div" , class_ = "rankings-block__banner--name-large")
    players.append(top_player.get_text())

    top_team = soup_5b.find("div" , class_ = "rankings-block__banner--nationality")
    teams.append(top_team.get_text().strip())

    top_rating = soup_5b.find("div" , class_ = "rankings-block__banner--rating")
    ratings.append(top_rating.get_text())

    scraped_players_5b = soup_5b.find_all("td" , class_ = "table-body__cell rankings-table__name name" )

    for player in scraped_players_5b:
        player = player.get_text().strip()
        players.append(player)

    scraped_teams_5b = soup_5b.find_all("span" , class_ = "table-body__logo-text" )

    for team in scraped_teams_5b:
        team = team.get_text().strip()
        teams.append(team)

    scraped_ratings_5b = soup_5b.find_all("td" , class_ = "table-body__cell rating" )

    for rating in scraped_ratings_5b:
        rating = rating.get_text().strip()
        ratings.append(rating)

    data_5b = pd.DataFrame()
    data_5b["Player"] = players
    data_5b["team"] = teams
    data_5b["Rating"] = ratings
    top_odi_batsmen = data_5b[:10]
    
    
    return top_odi_batsmen

In [66]:
top_odi_batsmen(batting_men_link)

                  Player team Rating
0             Babar Azam  PAK    892
1            Imam-ul-Haq  PAK    815
2  Rassie van der Dussen   SA    789
3        Quinton de Kock   SA    784
4            Virat Kohli  IND    767
5           Rohit Sharma  IND    763
6            Ross Taylor   NZ    744
7           David Warner  AUS    737
8         Jonny Bairstow  ENG    732
9            Aaron Finch  AUS    715

In [ ]:
 # 5. c)Top 10 ODI bowlers along with the records of their team and rating

In [28]:
def top_odi_bowlers(link):

    site_data_5c = requests.get(link)

    soup_5c = BeautifulSoup(site_data_5c.content ,"html.parser" )

    players_5c = []
    teams_5c = []
    ratings_5c = []

    top_player_5c = soup_5c.find("div" , class_ = "rankings-block__banner--name-large")
    players_5c.append(top_player_5c.get_text())

    top_team_5c = soup_5c.find("div" , class_ = "rankings-block__banner--nationality")
    teams_5c.append(top_team_5c.get_text().strip())

    top_rating_5c = soup_5c.find("div" , class_ = "rankings-block__banner--rating")
    ratings_5c.append(top_rating_5c.get_text())

    scraped_players_5c = soup_5c.find_all("td" , class_ = "table-body__cell rankings-table__name name" )

    for player in scraped_players_5c:
        player = player.get_text().strip()
        players_5c.append(player)

        
    scraped_teams_5c = soup_5c.find_all("td" , class_ = "table-body__cell nationality-logo rankings-table__team" )

    for team in scraped_teams_5c:
        team = team.get_text().strip()
        teams_5c.append(team)


    scraped_ratings_5c = soup_5c.find_all("td" , class_ = "table-body__cell rating" )

    for rating in scraped_ratings_5c:
        rating = rating.get_text().strip()
        ratings_5c.append(rating)

    data_5c = pd.DataFrame()

    data_5c["Player"] = players_5c
    data_5c["team"] = teams_5c
    data_5c["Rating"] = ratings_5c

    top_odi_bowlers = data_5c[:10]
    
    return top_odi_bowlers

In [25]:
top_odi_bowlers(bowling_men_link)

             Player team Rating
0       Trent Boult   NZ    697
1    Jasprit Bumrah  IND    682
2    Shaheen Afridi  PAK    681
3    Josh Hazlewood  AUS    679
4  Mujeeb Ur Rahman  AFG    676
5      Mehedi Hasan  BAN    672
6        Matt Henry   NZ    663
7     Mohammad Nabi  AFG    657
8       Rashid Khan  AFG    651
9      Chris Woakes  ENG    640

# 6. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape the following ?

In [ ]:
# 6.a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [77]:
team_women_link = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
batting_women_link = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
bowling_women_link = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling"

In [78]:
top_10_odi_teams_men(team_women_link)

            Team Matches Points Rating
0      Australia      15   1913    128
1        England      33  4,046    123
2   South Africa      35  4,157    119
3          India      32  3,219    101
4    New Zealand      31  3,019     97
5    West Indies      30  2,768     92
6     Bangladesh      12    930     78
7       Pakistan      30  1,962     65
8      Sri Lanka      11    495     45
9        Ireland       8    351     44
10      Zimbabwe       8      0      0

In [ ]:
 # 6).b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [79]:
top_odi_batsmen(batting_women_link)

                Player team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2       Natalie Sciver  ENG    747
3      Laura Wolvaardt   SA    732
4          Meg Lanning  AUS    710
5       Rachael Haynes  AUS    701
6    Amy Satterthwaite   NZ    681
7       Tammy Beaumont  ENG    667
8  Chamari Athapaththu   SL    655
9      Smriti Mandhana  IND    649

In [ ]:
 # 6) c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [80]:
top_odi_bowlers(bowling_women_link)

                Player team Rating
0    Sophie Ecclestone  ENG    761
1        Jess Jonassen  AUS    725
2         Megan Schutt  AUS    722
3       Shabnim Ismail   SA    722
4       Jhulan Goswami  IND    644
5       Ayabonga Khaka   SA    634
6  Rajeshwari Gayakwad  IND    613
7      Hayley Matthews   WI    612
8      Katherine Brunt  ENG    601
9       Marizanne Kapp   SA    598